<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Макет</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="main-wrapper">
        <article>
            <header>
                <img src="images/logo.png" alt="Яндекс авто" class="logo-img">
            </header>
            <main>
                <div class="quote-and-video">
                    <div role="button">
                        <div class="circle button left-button">
                            <img src="images/left-arrow.png" alt="<" class="button-arrow-left">
                        </div>
                    </div>
                    <div class="quote-block">
                        <q>
                            «Хозяйственный мужчина ищет &nbsp&nbspнадежную красавицу для прогулок по &nbsp&nbspбездорожью. 
                            Полный привод &nbsp&nbspобязателен»
                        </q>
                        <img src="images/offroad-cars.png" alt="Два внедорожника" class="main-block-img">
                    </div>
                    <div role="button">
                        <div class="circle button right-button">
                            <img src="images/right-arrow.png" alt=">" class="button-arrow-right">
                        </div>
                    </div>
                    <div class="video">
                        <img src="images/video-snapshot.jpg" alt="Припаркованные игрушечные машины">
                        <div data-title="Яндекс.Авто за минуту" class="video-title"></div>
                        <div role="button" class="button play-button">
                            <img src="images/play-arrow.png" alt="Воспроизвести" class="play-arrow">
                        </div>
                    </div>
                </div>
                <div class="features">
                    <h2 class="list-title">Простой способ выбрать автомобиль</h2>
                    <li>
                        <ul>
                            <div class="img-wrapper"><img src="images/catalogue-icon.png" alt="Книга" class="list-image"></div>
                            <h3>Каталог</h3>
                            <p>
                                Самый большой каталог <br> с описанием автомобилей от современных — до 20 лет назад
                            </p>
                        </ul>
                        <ul>
                            <div class="img-wrapper"><img src="images/magnifying-glass-icon.png" alt="Лупа" class="list-image img-margin"></div>
                            <h3>Поиск</h3>
                            <p>
                                Возможность искать <br> по большему числу параметров, чем где бы <br> то ни было
                            </p>
                        </ul>
                        <ul class="feature-3">
                            <div class="img-wrapper"><img src="images/intersections-icon.png" alt="Стиль жизни" class="list-image img-margin"></div>
                            <h3>Выборки автомобилей</h3>
                            <p>
                                Выборки автомобилей <br> в зависимости от ваших потребностей: «семейный», «для города», «для путешествий»
                            </p>
                        </ul>
                        <ul class="feature-4">
                            <div class="img-wrapper"><img src="images/search-field-icon.png" alt="Пример поиска" class="list-image img-margin"></div>
                            <h3>Простой язык</h3>
                            <p>
                                Возможность описания характеристик простым языком, понятным неискушенному пользователю
                            </p>
                        </ul>
                    </li>
                </div>
            </main>
            <footer>
                <h2 class="button-title">Выбирайте. Находите. Заводите!</h2>
                <div role="button" class="try-button">Попробовать</div>
            </footer>
        </article>
    </div>
</body>
</html>